<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.glzdept.dao.PovertyVisitDao">

   <resultMap id="BaseResultMap" type="com.newtouch.glzdept.entity.VO.PovertyVisitVO">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="poverty_people_id" property="povertyPeopleId" jdbcType="BIGINT" />
        <result column="poverty_people_name" property="povertyPeopleName" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="village" property="village" jdbcType="VARCHAR" />
        <result column="condolence_date" property="condolenceDate" jdbcType="DATE" />
        <result column="family_detail" property="familyDetail" jdbcType="VARCHAR" />
        <result column="visitor_id" property="visitorId" jdbcType="BIGINT" />
        <result column="visitor_name" property="visitorName" jdbcType="VARCHAR" />
        <result column="condolence_product" property="condolenceProduct" jdbcType="VARCHAR" />
        <result column="mass_appeal" property="massAppeal" jdbcType="VARCHAR" />
        <result column="condolence_detail" property="condolenceDetail" jdbcType="VARCHAR" />
        <result column="image_1" property="image1" jdbcType="BLOB" />
        <result column="image_2" property="image2" jdbcType="BLOB" />
        <result column="image_3" property="image3" jdbcType="BLOB" />
        <result column="image_min" property="imageMin" jdbcType="BLOB" />
        <result column="comments" property="comments" jdbcType="VARCHAR" />
        <result column="create_id" property="createId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="isdelete" property="isdelete" jdbcType="CHAR" />
    </resultMap>

    <sql id="ALL_COLUMN">
        <include refid="BASE_COLUMN"/>
        ,
        <include refid="IMGS_COLUMN"/>
    </sql>

    <sql id="BASE_COLUMN">
        id,
        poverty_people_id,
        poverty_people_name,
        birthday,
        village,
        condolence_date,
        family_detail,
        visitor_id,
        visitor_name,
        condolence_product,
        mass_appeal,
        condolence_detail,
        comments,
        create_id,
        create_time,
        isdelete
    </sql>

    <sql id="IMGS_COLUMN">
        image_1,
        image_2,
        image_3,
        image_min
    </sql>

    <sql id="ALL_IF_SELECT">
        <if test="povertyVisitVO!= null">
            <if test="povertyVisitVO.id != null and povertyVisitVO.id != ''"> AND id = #{povertyVisitVO.id} </if>
            <if test="povertyVisitVO.povertyPeopleId != null and povertyVisitVO.povertyPeopleId != ''"> AND poverty_people_id = #{povertyVisitVO.povertyPeopleId} </if>
            <if test="povertyVisitVO.povertyPeopleName != null and povertyVisitVO.povertyPeopleName != ''"> AND poverty_people_name LIKE CONCAT('%',#{povertyVisitVO.povertyPeopleName},'%')  </if>
            <if test="povertyVisitVO.birthday != null and povertyVisitVO.birthday != ''"> AND birthday = #{povertyVisitVO.birthday} </if>
            <if test="povertyVisitVO.village != null and povertyVisitVO.village != ''"> AND village = #{povertyVisitVO.village} </if>
            <if test="povertyVisitVO.condolenceDate != null and povertyVisitVO.condolenceDate != ''"> AND condolence_date = #{povertyVisitVO.condolenceDate} </if>
            <if test="povertyVisitVO.familyDetail != null and povertyVisitVO.familyDetail != ''"> AND family_detail = #{povertyVisitVO.familyDetail} </if>
            <if test="povertyVisitVO.visitorId != null and povertyVisitVO.visitorId != ''"> AND visitor_id = #{povertyVisitVO.visitorId} </if>
            <if test="povertyVisitVO.visitorName != null and povertyVisitVO.visitorName != ''"> AND visitor_name = #{povertyVisitVO.visitorName} </if>
            <if test="povertyVisitVO.condolenceProduct != null and povertyVisitVO.condolenceProduct != ''"> AND condolence_product = #{povertyVisitVO.condolenceProduct} </if>
            <if test="povertyVisitVO.massAppeal != null and povertyVisitVO.massAppeal != ''"> AND mass_appeal = #{povertyVisitVO.massAppeal} </if>
            <if test="povertyVisitVO.condolenceDetail != null and povertyVisitVO.condolenceDetail != ''"> AND condolence_detail = #{povertyVisitVO.condolenceDetail} </if>
            <if test="povertyVisitVO.createId != null and povertyVisitVO.createId != ''"> AND create_id = #{povertyVisitVO.createId} </if>
            <if test="povertyVisitVO.image1 != null and povertyVisitVO.image1 != ''"> AND image_1 = #{povertyVisitVO.image1} </if>
            <if test="povertyVisitVO.image2 != null and povertyVisitVO.image2 != ''"> AND image_2 = #{povertyVisitVO.image2} </if>
            <if test="povertyVisitVO.image3 != null and povertyVisitVO.image3 != ''"> AND image_3 = #{povertyVisitVO.image3} </if>
            <if test="povertyVisitVO.imageMin != null and povertyVisitVO.imageMin != ''"> AND image_min = #{povertyVisitVO.imageMin} </if>
            <if test="povertyVisitVO.createTime != null and povertyVisitVO.createTime != ''"> AND create_time = #{povertyVisitVO.createTime} </if>
            <if test="povertyVisitVO.comments != null and povertyVisitVO.comments != ''"> AND comments = #{povertyVisitVO.comments} </if>
            <if test="povertyVisitVO.isdelete != null and povertyVisitVO.isdelete != ''"> AND isdelete = #{povertyVisitVO.isdelete} </if>
            <if test="povertyVisitVO.villages != null and povertyVisitVO.villages.size() > 0">
                AND
                <choose>
                    <when test="povertyVisitVO.villages.size() == 1">
                        village = #{povertyVisitVO.villages[0]}
                    </when>
                    <otherwise>
                        village IN
                        <foreach collection="povertyVisitVO.villages" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
        </if>
    </sql>

    <!-- 修改 -->
    <sql id="ALL_IF_UPDATE">
        <if test="povertyVisitVO!= null">
            <if test="povertyVisitVO.id != null and povertyVisitVO.id != ''"> id = #{povertyVisitVO.id} </if>
            <if test="povertyVisitVO.povertyPeopleId != null and povertyVisitVO.povertyPeopleId != ''"> ,poverty_people_id = #{povertyVisitVO.povertyPeopleId} </if>
            <if test="povertyVisitVO.povertyPeopleName != null and povertyVisitVO.povertyPeopleName != ''"> ,poverty_people_name  = #{povertyVisitVO.povertyPeopleName}  </if>
            <if test="povertyVisitVO.birthday != null and povertyVisitVO.birthday != ''"> ,birthday = #{povertyVisitVO.birthday} </if>
            <if test="povertyVisitVO.village != null and povertyVisitVO.village != ''"> ,village = #{povertyVisitVO.village} </if>
            <if test="povertyVisitVO.condolenceDate != null and povertyVisitVO.condolenceDate != ''"> ,condolence_date = #{povertyVisitVO.condolenceDate} </if>
            <if test="povertyVisitVO.familyDetail != null and povertyVisitVO.familyDetail != ''"> ,family_detail = #{povertyVisitVO.familyDetail} </if>
            <if test="povertyVisitVO.visitorId != null and povertyVisitVO.visitorId != ''"> ,visitor_id = #{povertyVisitVO.visitorId} </if>
            <if test="povertyVisitVO.visitorName != null and povertyVisitVO.visitorName != ''"> ,visitor_name = #{povertyVisitVO.visitorName} </if>
            <if test="povertyVisitVO.condolenceProduct != null and povertyVisitVO.condolenceProduct != ''"> ,condolence_product = #{povertyVisitVO.condolenceProduct} </if>
            <if test="povertyVisitVO.massAppeal != null and povertyVisitVO.massAppeal != ''"> ,mass_appeal = #{povertyVisitVO.massAppeal} </if>
            <if test="povertyVisitVO.condolenceDetail != null and povertyVisitVO.condolenceDetail != ''"> ,condolence_detail = #{povertyVisitVO.condolenceDetail} </if>
            <if test="povertyVisitVO.createId != null and povertyVisitVO.createId != ''"> ,create_id = #{povertyVisitVO.createId} </if>
            <if test="povertyVisitVO.image1 != null and povertyVisitVO.image1 != ''"> ,image_1 = #{povertyVisitVO.image1} </if>
            <if test="povertyVisitVO.image2 != null and povertyVisitVO.image2 != ''"> ,image_2 = #{povertyVisitVO.image2} </if>
            <if test="povertyVisitVO.image3 != null and povertyVisitVO.image3 != ''"> ,image_3 = #{povertyVisitVO.image3} </if>
            <if test="povertyVisitVO.imageMin != null and povertyVisitVO.imageMin != ''"> ,image_min = #{povertyVisitVO.imageMin} </if>
            <if test="povertyVisitVO.createTime != null and povertyVisitVO.createTime != ''"> ,create_time = #{povertyVisitVO.createTime} </if>
            <if test="povertyVisitVO.comments != null and povertyVisitVO.comments != ''"> ,comments = #{povertyVisitVO.comments} </if>
            <if test="povertyVisitVO.isdelete != null and povertyVisitVO.isdelete != ''"> ,isdelete = #{povertyVisitVO.isdelete} </if>
        </if>
    </sql>

    <!--插入-->
   <insert id="insert" parameterType="com.newtouch.glzdept.entity.VO.PovertyVisitVO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
          t_poverty_visit
       <trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="visitVO.povertyPeopleId != null and visitVO.povertyPeopleId != ''">poverty_people_id,</if>
           <if test="visitVO.povertyPeopleName != null and visitVO.povertyPeopleName != ''">poverty_people_name,</if>
           <if test="visitVO.birthday != null and visitVO.birthday != ''">birthday,</if>
          <if test="visitVO.village != null and visitVO.village != ''">village,</if>
           <if test="visitVO.condolenceDate != null and visitVO.condolenceDate != ''">condolence_date,</if>
           <if test="visitVO.familyDetail != null and visitVO.familyDetail != ''">family_detail,</if>
          <if test="visitVO.visitorId != null and visitVO.visitorId != ''">visitor_id,</if>
          <if test="visitVO.visitorName != null and visitVO.visitorName != ''">visitor_name,</if>
           <if test="visitVO.condolenceProduct != null and visitVO.condolenceProduct != ''">condolence_product,</if>
          <if test="visitVO.massAppeal != null and visitVO.massAppeal != ''">mass_appeal,</if>
          <if test="visitVO.condolenceDetail != null and visitVO.condolenceDetail != ''">condolence_detail,</if>
          <if test="visitVO.createId != null and visitVO.createId != ''">create_id,</if>
          <if test="visitVO.image1 != null and visitVO.image1 != ''">image_1, </if>
           <if test="visitVO.image2 != null and visitVO.image2 != ''">image_2,</if>
           <if test="visitVO.image3 != null and visitVO.image3 != ''"> image_3,</if>
           <if test="visitVO.imageMin != null and visitVO.imageMin != ''"> image_min,</if>
          <!--<if test="visitVO.createTime != null and visitVO.createTime != ''">create_time,</if>-->
          <if test="visitVO.comments != null and visitVO.comments != ''">comments,</if>
          <if test="visitVO.isdelete != null and visitVO.isdelete != ''">isdelete</if>
       </trim>
        VALUES
           <trim prefix="(" suffix=")" suffixOverrides=",">
               <if test="visitVO.povertyPeopleId != null and visitVO.povertyPeopleId != ''">#{visitVO.povertyPeopleId,jdbcType=BIGINT},</if>
               <if test="visitVO.povertyPeopleName != null and visitVO.povertyPeopleName != ''">#{visitVO.povertyPeopleName,jdbcType=VARCHAR},</if>
              <if test="visitVO.birthday != null and visitVO.birthday != ''">STR_TO_DATE(#{visitVO.birthday,jdbcType=DATE},'%Y-%m-%d'),</if>
              <if test="visitVO.village != null and visitVO.village != ''">#{visitVO.village,jdbcType=VARCHAR},</if>
              <if test="visitVO.condolenceDate != null and visitVO.condolenceDate != ''">STR_TO_DATE(#{visitVO.condolenceDate,jdbcType=DATE},'%Y%m%d'),</if>
               <if test="visitVO.familyDetail != null and visitVO.familyDetail != ''">#{visitVO.familyDetail,jdbcType=VARCHAR},</if>
               <if test="visitVO.visitorId != null and visitVO.visitorId != ''">#{visitVO.visitorId,jdbcType=BIGINT},</if>
              <if test="visitVO.visitorName != null and visitVO.visitorName != ''">#{visitVO.visitorName,jdbcType=VARCHAR},</if>
               <if test="visitVO.condolenceProduct != null and visitVO.condolenceProduct != ''"> #{visitVO.condolenceProduct,jdbcType=VARCHAR},</if>
              <if test="visitVO.massAppeal != null and visitVO.massAppeal != ''">#{visitVO.massAppeal,jdbcType=VARCHAR},</if>
               <if test="visitVO.condolenceDetail != null and visitVO.condolenceDetail != ''">#{visitVO.condolenceDetail,jdbcType=VARCHAR},</if>
              <if test="visitVO.createId != null and visitVO.createId != ''">#{visitVO.createId,jdbcType=BIGINT},</if>
              <if test="visitVO.image1 != null and visitVO.image1 != ''">#{visitVO.image1,jdbcType=BLOB},</if>
               <if test="visitVO.image2 != null and visitVO.image2 != ''">#{visitVO.image2,jdbcType=BLOB},</if>
               <if test="visitVO.image3 != null and visitVO.image3 != ''">#{visitVO.image3,jdbcType=BLOB},</if>
               <if test="visitVO.imageMin != null and visitVO.imageMin != ''">#{visitVO.imageMin,jdbcType=BLOB},</if>
              <!-- <if test="visitVO.createTime != null and visitVO.createTime != ''">#{visitVO.createTime,jdbcType=TIMESTAMP}</if>-->
               <if test="visitVO.comments != null and visitVO.comments != ''">#{visitVO.comments,jdbcType=VARCHAR},</if>
              <if test="visitVO.isdelete != null and visitVO.isdelete != ''">#{visitVO.isdelete,jdbcType=CHAR}</if>
           </trim>
    </insert>

    <select id="selectPovertyVisitPage" resultMap="BaseResultMap">
        select
        <!--<include refid="ALL_COLUMN"/>-->
        id,poverty_people_name,village,condolence_date,image_min
        FROM
        t_poverty_visit
        WHERE
        1=1
        <include refid="ALL_IF_SELECT"/>
        limit #{page.minNum},#{page.pageSize}
    </select>


    <select id="total" resultType="java.lang.Integer">
        select count(*)
        from   t_poverty_visit
        WHERE
        1=1
        <include refid="ALL_IF_SELECT"/>
    </select>

    <select id="visitInfo" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN"/>
        FROM
        t_poverty_visit
        WHERE
        1=1
        <include refid="ALL_IF_SELECT"/>
    </select>

    <select id="visitInfoImgs" resultMap="BaseResultMap">
        select
        <include refid="IMGS_COLUMN"/>
        FROM
        t_poverty_visit
        WHERE
        1=1
        <include refid="ALL_IF_SELECT"/>
    </select>

    <delete id="deleteById">
        DELETE FROM t_poverty_visit
        WHERE
          id = #{povertyVisitVO.id}
    </delete>

    <update id="updateById">
        UPDATE t_poverty_visit SET
        <include refid="ALL_IF_UPDATE"/>
        WHERE
        id = #{povertyVisitVO.id}
    </update>

</mapper>
