<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.glzdept.dao.PovertyPeopleDao">


    <resultMap id="PovertyPeopleVOMap" type="com.newtouch.glzdept.entity.PO.PovertyPeoplePO">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="difficult_type_id" property="difficultTypeId" jdbcType="VARCHAR" />
        <result column="poverty_name" property="povertyName" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="idcard_no" property="idcardNo" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="village" property="village" jdbcType="VARCHAR" />
        <result column="poverty_type_1" property="povertyType1" jdbcType="VARCHAR" />
        <result column="poverty_type_2" property="povertyType2" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="family_detail" property="familyDetail" jdbcType="VARCHAR" />
        <result column="trouble" property="trouble" jdbcType="VARCHAR" />
        <result column="image_1" property="image1" jdbcType="BLOB" />
        <result column="image_2" property="image2" jdbcType="BLOB" />
        <result column="image_3" property="image3" jdbcType="BLOB" />
        <result column="image_min" property="imageMin" jdbcType="BLOB" />
        <result column="income" property="income" jdbcType="VARCHAR" />
        <result column="comments" property="comments" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="ALL_COLUMN">
        <include refid="BASE_COLUMN"/>
        ,
        <include refid="IMGS_COLUMN"/>
    </sql>
    <sql id="BASE_COLUMN">
        id,
        difficult_type_id,
        poverty_name,
        sex,
        idcard_no,
        birthday,
        village,
        poverty_type_1,
        poverty_type_2,
        address,
        phone,
        family_detail,
        trouble,
        income,
        comments
    </sql>

    <sql id="IMGS_COLUMN">
        image_1,
        image_2,
        image_3,
        image_min
    </sql>

    <sql id="ALL_VALUES">
        #{PovertyPeopleObj.id},
        #{PovertyPeopleObj.difficultTypeId},
        #{PovertyPeopleObj.povertyName},
        #{PovertyPeopleObj.sex},
        #{PovertyPeopleObj.idcardNo},
        #{PovertyPeopleObj.birthday},
        #{PovertyPeopleObj.village},
        #{PovertyPeopleObj.povertyType1},
        #{PovertyPeopleObj.povertyType2},
        #{PovertyPeopleObj.address},
        #{PovertyPeopleObj.phone},
        #{PovertyPeopleObj.familyDetail},
        #{PovertyPeopleObj.trouble},
        #{PovertyPeopleObj.image1},
        #{PovertyPeopleObj.image2},
        #{PovertyPeopleObj.image3},
        #{PovertyPeopleObj.imageMin},
        #{PovertyPeopleObj.income},
        #{PovertyPeopleObj.comments}
    </sql>

    <sql id="ALL_IF_UPDATE">
        <if test="PovertyPeopleObj != null">
            <if test="PovertyPeopleObj.id != null and PovertyPeopleObj.id != ''"> id = #{PovertyPeopleObj.id} </if>
            <if test="PovertyPeopleObj.difficultTypeId != null and PovertyPeopleObj.difficultTypeId != ''"> difficult_type_id = #{PovertyPeopleObj.difficultTypeId} </if>
            <if test="PovertyPeopleObj.povertyName != null and PovertyPeopleObj.povertyName != ''"> poverty_name = #{PovertyPeopleObj.povertyName} </if>
            <if test="PovertyPeopleObj.sex != null and PovertyPeopleObj.sex != ''"> ,sex = #{PovertyPeopleObj.sex} </if>
            <if test="PovertyPeopleObj.idcardNo != null and PovertyPeopleObj.idcardNo != ''"> ,idcar_no = #{PovertyPeopleObj.idcardNo} </if>
            <if test="PovertyPeopleObj.birthday != null and PovertyPeopleObj.birthday != ''"> ,birthday = #{PovertyPeopleObj.birthday} </if>
            <if test="PovertyPeopleObj.village != null and PovertyPeopleObj.village != ''"> ,village = #{PovertyPeopleObj.village} </if>
            <if test="PovertyPeopleObj.povertyType1 != null and PovertyPeopleObj.povertyType1 != ''"> ,poverty_type_1 = #{PovertyPeopleObj.povertyType1} </if>
            <if test="PovertyPeopleObj.povertyType2 != null and PovertyPeopleObj.povertyType2 != ''"> ,poverty_type_2 = #{PovertyPeopleObj.povertyType2} </if>
            <if test="PovertyPeopleObj.address != null and PovertyPeopleObj.address != ''"> ,address = #{PovertyPeopleObj.address} </if>
            <if test="PovertyPeopleObj.phone != null and PovertyPeopleObj.phone != ''"> ,phone = #{PovertyPeopleObj.phone} </if>
            <if test="PovertyPeopleObj.familyDetail != null and PovertyPeopleObj.familyDetail != ''"> ,family_detail = #{PovertyPeopleObj.familyDetail} </if>
            <if test="PovertyPeopleObj.trouble != null and PovertyPeopleObj.trouble != ''"> ,trouble = #{PovertyPeopleObj.trouble} </if>
            <if test="PovertyPeopleObj.image1 != null and PovertyPeopleObj.image1 != ''"> ,image_1 = #{PovertyPeopleObj.image1} </if>
            <if test="PovertyPeopleObj.image2 != null and PovertyPeopleObj.image2 != ''"> ,image_2 = #{PovertyPeopleObj.image2} </if>
            <if test="PovertyPeopleObj.image3 != null and PovertyPeopleObj.image3 != ''"> ,image_3 = #{PovertyPeopleObj.image3} </if>
            <if test="PovertyPeopleObj.imageMin != null and PovertyPeopleObj.imageMin != ''"> ,image_min = #{PovertyPeopleObj.imageMin} </if>
            <if test="PovertyPeopleObj.income != null and PovertyPeopleObj.income != ''"> ,income = #{PovertyPeopleObj.income} </if>
            <if test="PovertyPeopleObj.comments != null and PovertyPeopleObj.comments != ''"> ,comments = #{PovertyPeopleObj.comments} </if>
        </if>
    </sql>

    <sql id="PO_IF_SELECT">
        <if test="PovertyPeopleObj != null">
            <if test="PovertyPeopleObj.id!=null and PovertyPeopleObj.id!=''">AND id= #{PovertyPeopleObj.id}</if>
            <if test="PovertyPeopleObj.difficultTypeId != null and PovertyPeopleObj.difficultTypeId != ''"> AND difficult_type_id = #{PovertyPeopleObj.difficultTypeId}</if>
            <if test="PovertyPeopleObj.povertyName != null and PovertyPeopleObj.povertyName != ''"> AND poverty_name like concat('%',#{PovertyPeopleObj.povertyName},'%')  </if>
            <if test="PovertyPeopleObj.sex != null and PovertyPeopleObj.sex != ''"> AND sex = #{PovertyPeopleObj.sex} </if>
            <if test="PovertyPeopleObj.idcardNo != null and PovertyPeopleObj.idcardNo != ''"> AND idcar_no = #{PovertyPeopleObj.idcardNo} </if>
            <if test="PovertyPeopleObj.birthday != null and PovertyPeopleObj.birthday != ''"> AND birthday = #{PovertyPeopleObj.birthday} </if>
            <if test="PovertyPeopleObj.village != null and PovertyPeopleObj.village != ''"> AND village = #{PovertyPeopleObj.village} </if>
            <if test="PovertyPeopleObj.povertyType1 != null and PovertyPeopleObj.povertyType1 != ''"> AND poverty_type_1 = #{PovertyPeopleObj.povertyType1} </if>
            <if test="PovertyPeopleObj.povertyType2 != null and PovertyPeopleObj.povertyType2 != ''"> AND poverty_type_2 = #{PovertyPeopleObj.povertyType2} </if>
            <if test="PovertyPeopleObj.address != null and PovertyPeopleObj.address != ''"> AND address = #{PovertyPeopleObj.address} </if>
            <if test="PovertyPeopleObj.phone != null and PovertyPeopleObj.phone != ''"> AND phone = #{PovertyPeopleObj.phone} </if>
            <if test="PovertyPeopleObj.familyDetail != null and PovertyPeopleObj.familyDetail != ''"> AND family_detail = #{PovertyPeopleObj.familyDetail} </if>
            <if test="PovertyPeopleObj.trouble != null and PovertyPeopleObj.trouble != ''"> AND trouble = #{PovertyPeopleObj.trouble} </if>
            <if test="PovertyPeopleObj.image1 != null and PovertyPeopleObj.image1 != ''"> AND image_1 = #{PovertyPeopleObj.image1} </if>
            <if test="PovertyPeopleObj.image2 != null and PovertyPeopleObj.image2 != ''"> AND image_2 = #{PovertyPeopleObj.image2} </if>
            <if test="PovertyPeopleObj.image3 != null and PovertyPeopleObj.image3 != ''"> AND image_3 = #{PovertyPeopleObj.image3} </if>
            <if test="PovertyPeopleObj.imageMin != null and PovertyPeopleObj.imageMin != ''"> AND image_min = #{PovertyPeopleObj.imageMin} </if>
            <if test="PovertyPeopleObj.income != null and PovertyPeopleObj.income != ''"> AND income = #{PovertyPeopleObj.income} </if>
            <if test="PovertyPeopleObj.comments != null and PovertyPeopleObj.comments != ''"> AND comments = #{PovertyPeopleObj.comments} </if>
        </if>
    </sql>

    <sql id="VO_IF_SELECT">
          <include refid="PO_IF_SELECT"/>
          <if test="PovertyPeopleObj.villages != null and PovertyPeopleObj.villages.size() > 0">
              AND
              <choose>
                  <when test="PovertyPeopleObj.villages.size() == 1">
                      village = #{PovertyPeopleObj.villages[0]}
                  </when>
                  <otherwise>
                      village IN
                      <foreach collection="PovertyPeopleObj.villages" item="item" open="(" separator="," close=")">
                          #{item}
                      </foreach>
                  </otherwise>
              </choose>
          </if>
          <if test="PovertyPeopleObj. povertyType1s != null and PovertyPeopleObj.povertyType1s.size() > 0">
              AND
              <choose>
                  <when test="PovertyPeopleObj.povertyType1s.size() == 1">
                      poverty_type_1 = #{PovertyPeopleObj.povertyType1s[0]}
                  </when>
                  <otherwise>
                      poverty_type_1 IN
                      <foreach collection="PovertyPeopleObj.povertyType1s" item="item" open="(" separator="," close=")">
                          #{item}
                      </foreach>
                  </otherwise>
              </choose>
          </if>
          <if test="PovertyPeopleObj.povertyType2s != null and PovertyPeopleObj.povertyType2s.size() > 0">
              AND
              <choose>
                  <when test="PovertyPeopleObj.povertyType2s.size() == 1">
                      poverty_type_2 = #{PovertyPeopleObj.povertyType2s[0]}
                  </when>
                  <otherwise>
                      poverty_type_2 IN
                      <foreach collection="PovertyPeopleObj.povertyType2s" item="item" open="(" separator="," close=")">
                          #{item}
                      </foreach>
                  </otherwise>
              </choose>
          </if>
    </sql>

    <insert id="insert">
        INSERT INTO t_poverty_people (
          <include refid="ALL_COLUMN"/>
        )
        VALUES (
          <include refid="ALL_VALUES"/>
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO t_poverty_people (
        <include refid="ALL_COLUMN"/>
        )
        VALUES
        <foreach collection="povertyPeoples" item="PovertyPeopleObj" separator=",">
            (
            <include refid="ALL_VALUES"/>
            )
        </foreach>
    </insert>

    <delete id="deleteById">
        DELETE FROM t_poverty_people
        WHERE
          id = #{PovertyPeopleObj.id}
    </delete>

    <update id="updateById">
        UPDATE t_poverty_people SET
          <include refid="ALL_IF_UPDATE"/>
        WHERE
          id = #{PovertyPeopleObj.id}
    </update>

    <select id="select" resultMap="PovertyPeopleVOMap">
      select
        <include refid="ALL_COLUMN"/>
      FROM
        t_poverty_people
      WHERE
        1=1
        <include refid="PO_IF_SELECT"/>
    </select>

    <select id="povertyInfo" resultMap="PovertyPeopleVOMap">
        select
        <include refid="BASE_COLUMN"/>
        FROM
        t_poverty_people
        WHERE
        1=1
        <include refid="PO_IF_SELECT"/>
    </select>

    <select id="povertyInfoImgs" resultMap="PovertyPeopleVOMap">
        select
        <include refid="IMGS_COLUMN"/>
        FROM
        t_poverty_people
        WHERE
        1=1
        <include refid="PO_IF_SELECT"/>
    </select>

    <select id="selectPovertyPeoplePage" resultMap="PovertyPeopleVOMap">
        select
        <!--<include refid="ALL_COLUMN"/>-->
        id,birthday,poverty_Name,village,image_min,poverty_type_1,poverty_type_2
        FROM
        t_poverty_people
        WHERE
        1=1
        <include refid="VO_IF_SELECT"/>
        limit #{page.minNum},#{page.pageSize}
    </select>

    <select id="total" resultType="java.lang.Integer">
        select count(id)
        from t_poverty_people
        WHERE
        1=1
        <include refid="VO_IF_SELECT"/>
    </select>
</mapper>
