<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.glzdept.buss.dao.PovertyPeopleDao">


    <resultMap id="PovertyPeopleVOMap" type="com.newtouch.glzdept.buss.entity.PO.PovertyPeoplePO">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="poverty_name" property="povertyName" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="idcard_no" property="idcardNo" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="village_id" property="villageId" jdbcType="VARCHAR" />
        <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
        <result column="trouble_id" property="troubleId" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="family_detail" property="familyDetail" jdbcType="VARCHAR" />
        <result column="trouble_desc" property="troubleDesc" jdbcType="VARCHAR" />
        <result column="image_1" property="image1" jdbcType="BLOB" />
        <result column="image_2" property="image2" jdbcType="BLOB" />
        <result column="image_3" property="image3" jdbcType="BLOB" />
        <result column="image_min" property="imageMin" jdbcType="BLOB" />
        <result column="income" property="income" jdbcType="VARCHAR" />
        <result column="comments" property="comments" jdbcType="VARCHAR" />
        <result column="CREATE_ID" jdbcType="BIGINT" property="createId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="LAST_MODIFY_TIME" jdbcType="TIMESTAMP" property="lastModifyTime"/>
        <result column="IS_DELETE" jdbcType="CHAR" property="isDelete"/>
        <result column="status" jdbcType="CHAR" property="status"/>
    </resultMap>


    <sql id="ALL_COLUMN">
        <include refid="BASE_COLUMN"/>
        ,
        <include refid="IMGS_COLUMN"/>
    </sql>
    <sql id="BASE_COLUMN">
        id,
        poverty_name,
        sex,
        idcard_no,
        birthday,
        village_id,
        dept_id,
        trouble_id,
        address,
        phone,
        family_detail,
        trouble_desc,
        income,
        status,
        comments
    </sql>

    <sql id="IMGS_COLUMN">
        image_1,
        image_2,
        image_3,
        image_min
    </sql>

    <sql id="ALL_VALUES">
        #{PovertyPeopleObj.id},
        #{PovertyPeopleObj.povertyName},
        #{PovertyPeopleObj.sex},
        #{PovertyPeopleObj.idcardNo},
        #{PovertyPeopleObj.birthday},
        #{PovertyPeopleObj.villageId},
        #{PovertyPeopleObj.deptId},
        #{PovertyPeopleObj.troubleId},
        #{PovertyPeopleObj.address},
        #{PovertyPeopleObj.phone},
        #{PovertyPeopleObj.familyDetail},
        #{PovertyPeopleObj.troubleDesc},
        #{PovertyPeopleObj.income},
        #{PovertyPeopleObj.status},
        #{PovertyPeopleObj.comments},
        #{PovertyPeopleObj.image1},
        #{PovertyPeopleObj.image2},
        #{PovertyPeopleObj.image3},
        #{PovertyPeopleObj.imageMin}
    </sql>

    <sql id="ALL_IF_UPDATE">
        <if test="PovertyPeopleObj != null">
            <if test="PovertyPeopleObj.id != null and PovertyPeopleObj.id != ''"> id = #{PovertyPeopleObj.id} </if>
            <if test="PovertyPeopleObj.povertyName != null and PovertyPeopleObj.povertyName != ''"> ,poverty_name = #{PovertyPeopleObj.povertyName} </if>
            <if test="PovertyPeopleObj.sex != null and PovertyPeopleObj.sex != ''"> ,sex = #{PovertyPeopleObj.sex} </if>
            <if test="PovertyPeopleObj.idcardNo != null and PovertyPeopleObj.idcardNo != ''"> ,idcar_no = #{PovertyPeopleObj.idcardNo} </if>
            <if test="PovertyPeopleObj.birthday != null and PovertyPeopleObj.birthday != ''"> ,birthday = #{PovertyPeopleObj.birthday} </if>
            <if test="PovertyPeopleObj.villageId != null and PovertyPeopleObj.villageId != ''"> ,village_id = #{PovertyPeopleObj.villageId} </if>
            <if test="PovertyPeopleObj.deptId != null and PovertyPeopleObj.deptId != ''"> ,dept_id = #{PovertyPeopleObj.deptId} </if>
            <if test="PovertyPeopleObj.troubleId != null and PovertyPeopleObj.troubleId != ''"> ,trouble_id = #{PovertyPeopleObj.troubleId} </if>
            <if test="PovertyPeopleObj.address != null and PovertyPeopleObj.address != ''"> ,address = #{PovertyPeopleObj.address} </if>
            <if test="PovertyPeopleObj.phone != null and PovertyPeopleObj.phone != ''"> ,phone = #{PovertyPeopleObj.phone} </if>
            <if test="PovertyPeopleObj.familyDetail != null and PovertyPeopleObj.familyDetail != ''"> ,family_detail = #{PovertyPeopleObj.familyDetail} </if>
            <if test="PovertyPeopleObj.troubleDesc != null and PovertyPeopleObj.troubleDesc != ''"> ,trouble_desc = #{PovertyPeopleObj.troubleDesc} </if>
            <if test="PovertyPeopleObj.image1 != null and PovertyPeopleObj.image1 != ''"> ,image_1 = #{PovertyPeopleObj.image1} </if>
            <if test="PovertyPeopleObj.image2 != null and PovertyPeopleObj.image2 != ''"> ,image_2 = #{PovertyPeopleObj.image2} </if>
            <if test="PovertyPeopleObj.image3 != null and PovertyPeopleObj.image3 != ''"> ,image_3 = #{PovertyPeopleObj.image3} </if>
            <if test="PovertyPeopleObj.imageMin != null and PovertyPeopleObj.imageMin != ''"> ,image_min = #{PovertyPeopleObj.imageMin} </if>
            <if test="PovertyPeopleObj.income != null and PovertyPeopleObj.income != ''"> ,income = #{PovertyPeopleObj.income} </if>
            <if test="PovertyPeopleObj.status != null and PovertyPeopleObj.status != ''"> ,status = #{PovertyPeopleObj.status} </if>
            <if test="PovertyPeopleObj.comments != null and PovertyPeopleObj.comments != ''"> ,comments = #{PovertyPeopleObj.comments} </if>
        </if>
    </sql>

    <sql id="PO_IF_SELECT">
        <if test="PovertyPeopleObj != null">
            <if test="PovertyPeopleObj.id!=null and PovertyPeopleObj.id!=''">AND id= #{PovertyPeopleObj.id}</if>
            <if test="PovertyPeopleObj.povertyName != null and PovertyPeopleObj.povertyName != ''"> AND poverty_name like concat('%',#{PovertyPeopleObj.povertyName},'%')  </if>
            <if test="PovertyPeopleObj.sex != null and PovertyPeopleObj.sex != ''"> AND sex = #{PovertyPeopleObj.sex} </if>
            <if test="PovertyPeopleObj.idcardNo != null and PovertyPeopleObj.idcardNo != ''"> AND idcard_no = #{PovertyPeopleObj.idcardNo} </if>
            <if test="PovertyPeopleObj.birthday != null and PovertyPeopleObj.birthday != ''"> AND birthday = #{PovertyPeopleObj.birthday} </if>
            <if test="PovertyPeopleObj.villageId != null and PovertyPeopleObj.villageId != ''"> AND villageId = #{PovertyPeopleObj.villageId} </if>
            <if test="PovertyPeopleObj.deptId != null and PovertyPeopleObj.deptId != ''"> AND dept_id = #{PovertyPeopleObj.deptId} </if>
            <if test="PovertyPeopleObj.troubleId != null and PovertyPeopleObj.troubleId != ''"> AND trouble_id = #{PovertyPeopleObj.troubleId} </if>
            <if test="PovertyPeopleObj.address != null and PovertyPeopleObj.address != ''"> AND address = #{PovertyPeopleObj.address} </if>
            <if test="PovertyPeopleObj.phone != null and PovertyPeopleObj.phone != ''"> AND phone = #{PovertyPeopleObj.phone} </if>
            <if test="PovertyPeopleObj.familyDetail != null and PovertyPeopleObj.familyDetail != ''"> AND family_detail = #{PovertyPeopleObj.familyDetail} </if>
            <if test="PovertyPeopleObj.troubleDesc != null and PovertyPeopleObj.troubleDesc != ''"> AND trouble_desc = #{PovertyPeopleObj.troubleDesc} </if>
            <if test="PovertyPeopleObj.image1 != null and PovertyPeopleObj.image1 != ''"> AND image_1 = #{PovertyPeopleObj.image1} </if>
            <if test="PovertyPeopleObj.image2 != null and PovertyPeopleObj.image2 != ''"> AND image_2 = #{PovertyPeopleObj.image2} </if>
            <if test="PovertyPeopleObj.image3 != null and PovertyPeopleObj.image3 != ''"> AND image_3 = #{PovertyPeopleObj.image3} </if>
            <if test="PovertyPeopleObj.imageMin != null and PovertyPeopleObj.imageMin != ''"> AND image_min = #{PovertyPeopleObj.imageMin} </if>
            <if test="PovertyPeopleObj.income != null and PovertyPeopleObj.income != ''"> AND income = #{PovertyPeopleObj.income} </if>
            <if test="PovertyPeopleObj.status != null and PovertyPeopleObj.status != ''"> AND status = #{PovertyPeopleObj.status} </if>
            <if test="PovertyPeopleObj.comments != null and PovertyPeopleObj.comments != ''"> AND comments = #{PovertyPeopleObj.comments} </if>
        </if>
    </sql>

    <sql id="VO_IF_SELECT">
          <include refid="PO_IF_SELECT"/>
          <if test="PovertyPeopleObj.villageIds != null and PovertyPeopleObj.villageIds.size() > 0">
              AND
              <choose>
                  <when test="PovertyPeopleObj.villageIds.size() == 1">
                      village_id = #{PovertyPeopleObj.villageIds[0]}
                  </when>
                  <otherwise>
                      village_id IN
                      <foreach collection="PovertyPeopleObj.villageIds" item="item" open="(" separator="," close=")">
                          #{item}
                      </foreach>
                  </otherwise>
              </choose>
          </if>
          <if test="PovertyPeopleObj. deptIds != null and PovertyPeopleObj.deptIds.size() > 0">
              AND
              <choose>
                  <when test="PovertyPeopleObj.deptIds.size() == 1">
                      dept_id = #{PovertyPeopleObj.deptIds[0]}
                  </when>
                  <otherwise>
                      dept_id IN
                      <foreach collection="PovertyPeopleObj.deptIds" item="item" open="(" separator="," close=")">
                          #{item}
                      </foreach>
                  </otherwise>
              </choose>
          </if>
          <if test="PovertyPeopleObj.troubleIds != null and PovertyPeopleObj.troubleIds.size() > 0">
              AND
              <choose>
                  <when test="PovertyPeopleObj.troubleIds.size() == 1">
                      trouble_id = #{PovertyPeopleObj.troubleIds[0]}
                  </when>
                  <otherwise>
                      trouble_id IN
                      <foreach collection="PovertyPeopleObj.troubleId" item="item" open="(" separator="," close=")">
                          #{item}
                      </foreach>
                  </otherwise>
              </choose>
          </if>
    </sql>

    <insert id="insert">
        INSERT INTO t_poverty_people (
          <include refid="ALL_COLUMN"/>
        )
        VALUES (
          <include refid="ALL_VALUES"/>
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO t_poverty_people (
        <include refid="ALL_COLUMN"/>
        )
        VALUES
        <foreach collection="povertyPeoples" item="PovertyPeopleObj" separator=",">
            (
            <include refid="ALL_VALUES"/>
            )
        </foreach>
    </insert>

    <delete id="deleteById">
        UPDATE t_poverty_people SET
          is_delete = 'y'
        WHERE
          id = #{PovertyPeopleObj.id}
    </delete>

    <update id="updateById">
        UPDATE t_poverty_people SET
          <include refid="ALL_IF_UPDATE"/>
        WHERE
          id = #{PovertyPeopleObj.id}
    </update>

    <select id="select" resultMap="PovertyPeopleVOMap">
      select
        <include refid="ALL_COLUMN"/>
      FROM
        t_poverty_people
      WHERE
        1=1
        <include refid="PO_IF_SELECT"/>
    </select>

    <select id="povertyInfo" resultMap="PovertyPeopleVOMap">
        select
        <include refid="BASE_COLUMN"/>
        FROM
        t_poverty_people
        WHERE
        1=1
        <include refid="PO_IF_SELECT"/>
    </select>

    <select id="povertyInfoImgs" resultMap="PovertyPeopleVOMap">
        select
        <include refid="IMGS_COLUMN"/>
        FROM
        t_poverty_people
        WHERE
        1=1
        <include refid="PO_IF_SELECT"/>
    </select>

    <select id="selectPovertyPeoplePage" resultMap="PovertyPeopleVOMap">
        select
        <!--<include refid="ALL_COLUMN"/>-->
        id,birthday,poverty_Name,village_id,image_min,dept_id,trouble_id,phone,family_detail,status
        FROM
        t_poverty_people
        WHERE
          is_delete = 'n'
        <include refid="VO_IF_SELECT"/>
        limit #{page.minNum},#{page.pageSize}
    </select>

    <select id="total" resultType="java.lang.Integer">
        select count(id)
        from t_poverty_people
        WHERE
          is_delete = 'n'
        <include refid="VO_IF_SELECT"/>
    </select>

    <select id="selectPovertyPeopleCountByIdNo" resultType="java.lang.Integer">
        SELECT
          COUNT(id)
        FROM
          t_poverty_people
        WHERE
          1=1
        <include refid="PO_IF_SELECT"/>
    </select>
</mapper>
